[user]
	name = Ikiru Yoshizaki
	email = 3856350+guitarrapc@users.noreply.github.com
	signingKey = ""
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	quotepath = False
	# windows only
	autocrlf = true
	symlinks = true
	filemode = false
	longpaths = true
	ignorecase = false
[gui]
	encoding = utf-8
[web]
	browser = chromium
[commit]
	template = .stCommitMsg
	gpgSign = false
[push]
	default = current
	followTags = true
[fetch]
	# Auto-kill defunct remote branches
	prune = true
[credential]
	helper = manager
	# Let OS X remember our logins for us
	# helper = osxkeychain
[credential "https://source.developers.google.com"]
	useHttpPath = true
[include]
	path = .gitconfig.local
[help]
	autocorrect = 1
[color]
	ui = auto
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	newMoved = cyan
	oldMoved = blue
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = green reverse
	local = yellow
	remote = green
[column]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[alias]
	# hub alias
	pr = pull-requests
	see = browse
    # alias command
    aliaslist = !"loop=; for k in `git config --get-regexp '^alias.' | sed -e 's/^alias.\\([^ ]*\\) .*$/\\1/g' | sort`; do printf ${k}; loop=${loop}1; if test ${#loop} -lt 5; then printf '\t'; else echo ''; loop=; fi; done"
    aliasdoc = "!sh -c \"git config --get-regexp '^alias.' | grep '^alias.$1\\ ' | sed -e 's/^alias.$1/$1 =/g'\""
    alias = "!sh -c \"if test -z $1; then git aliaslist; else git aliasdoc $1; fi\""
    conflicts = diff --name-only --diff-filter=U
    diffbranch = show-branch --topo-order
    branchjunction = show-branch --merge-base
    contains = branch -a --contains
    rm-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    showfile = "!sh -c 'git show $0:$1'"
[gpg]
	program = gpg
[tag]
	forceSignAnnotated = false
