[user]
	name = Ikiru Yoshizaki
	email = 3856350+guitarrapc@users.noreply.github.com
	signingKey = ""
[core]
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes
	quotepath = False
	# windows only
	autocrlf = true
	symlinks = true
	filemode = false
	longpaths = true
	ignorecase = false

# -- other settings -- #
[alias]
	# hub alias
	pr = pull-requests
	see = browse
	# alias command
	aliaslist = !"loop=; for k in `git config --get-regexp '^alias.' | sed -e 's/^alias.\\([^ ]*\\) .*$/\\1/g' | sort`; do printf ${k}; loop=${loop}1; if test ${#loop} -lt 5; then printf '\t'; else echo ''; loop=; fi; done"
	aliasdoc = "!sh -c \"git config --get-regexp '^alias.' | grep '^alias.$1\\ ' | sed -e 's/^alias.$1/$1 =/g'\""
	alias = "!sh -c \"if test -z $1; then git aliaslist; else git aliasdoc $1; fi\""
	branchjunction = show-branch --merge-base
	conflicts = diff --name-only --diff-filter=U
	contains = branch -a --contains
	diffbranch = show-branch --topo-order
	rm-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	showfile = "!sh -c 'git show $0:$1'"
# color
[color]
	ui = auto
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
	newMoved = cyan
	oldMoved = blue
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = green reverse
	local = yellow
	remote = green
[column]
	ui = auto
[commit]
	#  no template
	# template = .stCommitMsg
	gpgSign = false
# credential
[credential "https://github.com"]
	helper = !'gh.exe' auth git-credential
[credential "https://gist.github.com"]
	helper = !'gh.exe' auth git-credential
# [credential]
# 	helper = manager
# [credential "helperselector"]
# 	selected = manager
# diff
[diff "sjis"]
	textconv = "iconv -f sjis"
[fetch]
	# Auto-kill defunct remote branches
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[gpg]
	program = gpg
	format = openpgp
[gui]
	encoding = utf-8
[include]
	path = .gitconfig.local
[init]
	defaultBranch = main
[help]
	autocorrect = 1
[lfs]
	locksverify = false
[pull]
	rebase = false
[push]
	default = current
	followTags = true
	# enable git push --force-if-includes
	useForceIfIncludes = true
[submodule]
	recurse = true
[tag]
	forceSignAnnotated = false
# use https on ssh address.
[url "https://github.com/"]
	insteadOf = git@github.com:
[web]
	browser = chromium
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
